.local/*
.rstudio/*
Rplots.pdf*
.config/*
.gitconfig/*
derived_data/*.csv
derived_graphs/*.png
derived_graphs/*rds
derived_models/*rds
derived_data/.ipynb_checkpoints
.cache/
.ipython/
.jupyter/
.bash_history
.ipynb_checkpoints